

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Global Tags */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* Navigation */
nav {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav .navigation {
    display: flex;
}

#menu {
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close {
    display: none;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;    
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
} 

nav .navigation ul li a:hover {
    color: #FDC93B;
}

/* nav .navigation .button {
    margin-top: 30px;
}

nav .navigation a.gold {
    color: white;
    background: linear-gradient(90deg, rgba(203,155,81,1) 0%, rgba(246,226,122,1) 80%, rgba(246,242,192,1) 100%);
}

nav .navigation a.gold:hover {
    color: black;
    background: linear-gradient(90deg, rgba(246,242,192,1) 0%, rgba(246,226,122,1) 20%, rgba(203,155,81,1) 100%);
} */

/* Home */
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)), url("images/BackWhite.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2 {
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .button {
    margin-top: 30px;
}

#home .button .yellow {
    border: 1px solid black;
    /* padding: 14px 28px; */
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

#home a.gold {
    color: white;
    background: linear-gradient(90deg, rgba(203,155,81,1) 0%, rgba(246,226,122,1) 80%, rgba(246,242,192,1) 100%);
}

#home a.gold:hover {
    color: black;
    background: linear-gradient(90deg, rgba(246,242,192,1) 0%, rgba(246,226,122,1) 20%, rgba(203,155,81,1) 100%);
}

#home a.yellow {
    color: white;
    background: none;
}

#home a.yellow:hover {
    color: black;
    background: none;
    border: none;
}

/* donation */
#donation {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#donation .don-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    padding: 5px 5px;
}

#donation .don-box {
    background: whitesmoke;
    text-align: start;
}

#donation .don-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#donation .don-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0  7px 0;
}

#donation .don-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70 , 70, 87);
}

/* contents */
#contents {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#contents .con-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 2fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#contents .con {
    text-align: start;
    background: whitesmoke;
    height: auto;
    position: relative;
}

#contents .con img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#contents .con .details {
    padding: 15px 15px 0 15px;
}

#contents .con .details i {
    color: #FDC93B;
    font-size: 0.9rem;
}

#contents .con .button {
    /* background-color: aqua;
    color: white; */
    /* line-height: 40px;
    width: 70px;
    height: 40px;
    text-align: center; */
    border-radius: 15px;
    position: absolute;
    right: 15px;
}

#contents a {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #E6DF9A;
    font-weight: 600;
    border-radius: 5px;
}

#contents a:hover {
    background-color: #F3ED9E;
    color: black;
}

/* join with us */

#joinwithus {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)), url("images/JoinWithusside.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#joinwithus .form {
    /* background: white; */
    backdrop-filter: blur(1px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#joinwithus .form input {
    opacity: 0.3;
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);
    border-radius: 8px;
    outline: none;
}

#joinwithus .form .button {
    margin-top: 20px;
}

#joinwithus .form a.gold {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    background: linear-gradient(90deg, rgba(203,155,81,1) 0%, rgba(246,226,122,1) 80%, rgba(246,242,192,1) 100%);
}

#joinwithus .form a.gold:hover {
    color: black;
    background: linear-gradient(90deg, rgba(246,242,192,1) 0%, rgba(246,226,122,1) 20%, rgba(203,155,81,1) 100%);
}

/* profiles */

#members {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#members .mem-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#members .mem-box .profile {
    background: whitesmoke;
    padding: 30px 10px;
}

.links {
    margin-top: 10px;
}

.links i {
    padding: 10px 13px;
    border: 1px solid rgb(21 , 21, 100);
    cursor: pointer;
    transition: 0.3s ease;
}

.links i:hover {
    background: rgb(21 , 21, 100);
    color: white;
    border: 1px solid rgb(21 , 21, 100);;
    cursor: pointer;
}

/* footer */

footer {
    padding: 4vw;
    background-color: #101c32;
    text-align: center;
}

footer h3 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 10px;
}

footer p {
    color: #7b838a;
}

footer .subs {
    margin-top: 10px;
}

footer input {
    width: 220px;
    padding: 15px 12px;
    background: #334f6c;
    border: none;
    outline: none;
    color: white;
}

footer .subs a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

footer .col .yellow {
    border: 1px solid yellow;
    /* padding: 14px 28px; */
    margin-top: 30px;
}

footer .subs a.yellow {
    color: white;
    background: none;
}

footer .subs a.yellow:hover {
    color: yellow;
    background: none;
    border: none;
}

footer .copyrights {
    margin-top: 20px;
}

footer .copyrights a {
    color: #FDC93B;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 3px 5px;
    background-color: none;
    font-weight: 600;
    border-radius: 5px;
}

footer .copyrights a:hover {
    color: yellow;
    background: none;
    border: none;
}

@media (max-width: 1100px) {
    #joinwithus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8vw;
    }
}

@media (max-width: 769px) {
    nav {
        padding: 15px 20px;
    }
    naav img {
        width: 130px;
        cursor: pointer;
    }
    #menu {
        display: initial;
    }
    
    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: white;
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background-color: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(3.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    nav .navigation ul.active {
        right: 0;
    }
    
    nav .navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    
    nav .navigation ul li a {
        color: white;
    }
    
    #home p {
        width: 90%;
    }
    
    #donation {
        padding: 8vw 4vw 0 4vw;
    }
    
    #contents {
        padding: 8vw 4vw 0 4vw;
    }

    /* #joinwithus {
        margin-top: 8vw;
        padding: 6vw 50vw 6vw 33vw;
    } */

    #joinwithus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8vw;
    }
}

@media (max-width:475px) {
    #joinwithus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8vw;
    }
}